.people__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: var(--spacing-medium);
  column-gap: var(--spacing-large);
}

.people__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.people__item {
  width: 190px;
  border-radius: var(--border-radius-small);
  background-color: var(--color-white);
}

.people__img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
}

.people__name {
  margin: 0;
  padding: var(--spacing-small);
  color: var(--color-black);
  text-align: center;
  font-size: var(--font-size-people);
}