.PersonPhoto__img {
  border-radius: var(--border-radius-small);
  width: 250px;
  height: 350px;
  object-fit: cover;
}

.PersonPhoto__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 510px;
  top: 220px;
}

.PersonPhoto__icon {
  width: 45px;
  height: 45px;
  filter: drop-shadow(var(--drop-shadow));
}