:root {
  --background-color-app: #10100e;
  --max-width: 1280px;
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #ffff00;
  --color-blue: #6a83fb;
  --color-purple: #ae72c2;
  --color-gray: #9c9c9c;
  --color-lightgray: #dfe2df;
  --color-red: #f75d83;
  --color-person-name: var(--color-purple);
  --color-light: #29e52d;
  --color-dark: #d82228;
  --color-neutral: #ffff00;
  --color-shadow-light: rgba(41, 229, 45, .4);
  --color-shadow-dark: rgba(216, 34, 40, .4);
  --color-shadow-neutral: rgba(224, 224, 81, .4);
  --border-radius-small: 5px;
  --border-radius-medium: 10px;
  --spacing-ultra-small: 5px;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
  --font-size-people: 19px;
  --font-sizq-h1: 30px;
  --font-size-h2: 26px;
  --font-size-main: 16px;
  --font-size-small: 12px;
  --font-weight-bold: 700;
  --transition-5: .5s;
  --opacity-4: .4;
  --opacity-2: .2;
  --text-shadow-yellow: 0 0 2px var(--color-white), 0 0 40px var(--color-yellow);
  --text-shadow-blue: 0 0 2px var(--color-white), 0 0 40px var(--color-blue);
  --theme-default-color: var(--theme-neutral-color);
  --theme-light-color: #dfe2df;
  --theme-dark-color: #ca6c6f;
  --theme-neutral-color: #cccc46;
  --theme-default-bgImage: var(--theme-neutral-bgImage);
  --theme-light-bgImage: linear-gradient(to right bottom, #051937, #162454, #312d70, #533389, #7a359f);
  --theme-dark-bgImage: linear-gradient(to right bottom, #000000, #160b11, #20141e, #281b2e, #2b2440);
  --theme-neutral-bgImage: url(../static/bg.jpg);
  --drop-shadow: 0 0 2px #000;
  --box-shadow-white: 0 16px 24px 2px rgba(255, 255, 255, .02), 0 6px 30px 5px rgba(255, 255, 255, .04), 0 8px 10px -5px rgba(255, 255, 255, .1);
  --box-shadow-black: 0 16px 24px 2px rgba(0, 0, 0, .5), 0 6px 30px 5px rgba(0, 0, 0, .1), 0 8px 10px -5px gba(0, 0, 0, .2);
}

body {
  margin: 0;
  padding: 0;
}

.root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: var(--background-color-app);
  font-size: var(--font-size-main);
  background-image: var(--theme-default-bgImage);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
}

.header__title {
  margin: 0;
  line-height: 1.7;
  font-size: var(--font-sizq-h1);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-default-color);
  transition: var(--transition-5);
  padding-bottom: var(--spacing-large);
}

* {
  scrollbar-color: rgb(37, 56, 97) rgba(0, 0, 0, .7);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(37, 56, 97);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .7);
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, .7);
}