.PersonFilms__list {
  margin: 0;
  padding: var(--spacing-medium);
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-large);
  color: var(--color-white);
}

.PersonFilms__item {}

.PersonFilms__text {
  margin: 0;
}

.PersonFilms__episode {
  background-color: var(--color-red);
  border-radius: var(--border-radius-small);
  padding: var(--spacing-ultra-small);
}

.PersonFilms__title {
  text-shadow: var( --text-shadow-yellow);
}