.button {
  min-width: 100px;
  padding: var(--spacing-small);
  border-radius: var(--border-radius-small);
  font-weight: var(--font-weight-bold);
  transition: var(--transition-5);
  cursor: pointer;
  background: none;
  outline: none;
  margin-bottom: var(--spacing-large);
  font-size: var(--font-size-main);
}

.button:disabled {
  color: var(--color-gray);
  border-color: var(--color-gray);
  cursor: auto;
}

.button:disabled:hover {
  color: var(--color-gray);
  border-color: var(--color-gray);
  cursor: auto;
  background-color: transparent;
}

.button__dark {
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.button__dark:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.button__light {
  border: 1px solid var(--color-black);
  color: var(--color-black);
}

.button__light:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}