.Favorite__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  position: relative;
  margin-left: auto;
}

.Favorite__count {
  background-color: var(--color-white);
  padding: 0;
  margin: 0;
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-shadow: var(--box-shadow-white);
  font-size: var(--font-size-small);
}

.Favorite__icon {
  width: 35px;
  height: 35px;
  filter: drop-shadow(var(--drop-shadow));
}