.container {
  max-width: 330px;
  position: relative;
}

.Input {
  box-sizing: border-box;
  width: 100%;
  padding: var(--spacing-small);
  padding-right: 30px;
  border: 3px solid var(--color-lightgray);
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-main);
  outline: none;
}

.Input:focus {
  border: 3px solid var(--color-purple);
}

.Input__button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 13px;
  top: 13px;
  transition: var(--transition-5);
  padding: 0;
  opacity: var(--opacity-4);
}

.Input__button:hover {
  opacity: 1;
}

.Input__button_disabled {
  opacity: var(--opacity-2);
}

.Input__icon {
  width: 15px;
  height: 15px;
  object-fit: cover;
}