.PersonInfo__list {
  margin: 0;
  padding: var(--spacing-medium);
  list-style: none;
  max-width: 300px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-small);
  color: var(--color-white);
}

.PersonInfo__item {}

.PersonInfo__span {
  text-shadow: var(--text-shadow-blue);
  text-decoration: underline;
}