.PersonLinkBack__link {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-small);
  text-decoration: none;
  color: var(--color-yellow);
  margin-bottom: var(--spacing-medium);
  width: 110px;
}

.PersonLinkBack__img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.PersonLinkBack__text {
  margin: 0;
  font-size: var(--font-size-main);
  font-weight: var(--font-weight-bold);
}