:root {
  --border-radius-small: 5px;
  --spacing-small: 10px;
  --spacing-large: 30px;
  --font-size-main: 14px;
  --font-size-medium: 16px;
  --font-weight-bold: 700;
  --transition-5: .5s;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #9c9c9c;
  --color-lightgray: #dfe2df;
}